[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	a = add
	amend = ci --amend --reuse-message HEAD
	b = branch
	co = checkout
	ci = commit
	d = diff
	f = fetch --all --tags
	g = grep
	h = hist
	l = log
	r = reset
	s = status

[color]
	ui = 1

[color "grep"]
	context = normal
	filename = magenta
	function = normal
	linenumber = green
	match = red bold
	selected = normal
	separator = cyan

[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore-global
	whitespace = tabwidth=4

[credential]
	helper = cache

[fetch]
	prune = true

[grep]
	lineNumber = true

[push]
	default = simple

[status]
	submodulesummary = true

[user]
	name = Leigh Simpson
	email = code@simpleigh.com
