# Ignore all files by default.
*

# Re-include dotfiles.
!.*

# Exclude some specific dotfiles.
/.aws/
/.bash_history
/.cache/
/.hawser
/.lesshst
/.mysql_history
/.nano_history
/.php_history
/.psql_history
/.ssh/
