[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]
	ui = 1

[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.cvsignore

[push]
	default = simple

[user]
	name = Leigh Simpson
	email = code@simpleigh.com
